<template id="timeline-event">
 
    <style>
        .day {
            width: 100%;
            float: left;
        }
        .day .events {
            position: relative;
            float: left;
            border-right: 1px solid #660000;
            padding: 30px;
            text-align: right;
            width: calc(45% + 6px);
        }
        .day .events:after {
            content: "";
            width: 40%;
            display: inline-block;
            height: 1px;
            background: #660000;
            position: absolute;
            right: 0;
        }
        .day .events .date {
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translateY(-50%);
            padding: 30px;
            text-align: left;
            color: #660000;
            font-size: 24px;
            white-space: nowrap;
        }
        .day .events .day__img {
            margin-right: -30px;
            position: relative;
            overflow: hidden;
        }
        .day .events .day__img img {
            display: block;
            float: right;
        }
        .day .events .day__img .caption {
            position: absolute;
            margin: 0;
            bottom: 0;
            right: 0;
            padding: 20px;
            background: rgba(0, 0, 0, 0.7);
            color: #fff;
        }
        .day.odd .events {
            width: calc(46% - 1px);
            float: right;
            border-right: 0;
            border-left: 1px solid #660000;
            text-align: left;
        }
        .day.odd .events:after {
            right: auto;
            left: 0;
        }
        .day.odd .events .date {
            left: auto;
            right: 100%;
            text-align: right;
        }
        .day.odd .events .day__img {
            margin-right: auto;
            margin-left: -30px;
        }
        .day.odd .events .day__img img {
            float: left;
        }
        .day.odd .events .day__img .caption {
            right: auto;
            left: 0;
        }

        @media only screen and (min-width: 1281px) and (max-width: 1920px) {
            .day.odd .events {
                width: 45%;
            }
            .day .events {
                width: 44%;
            }
        }

        /* Small desktops and larger tablets */
        @media only screen and (min-width: 1025px) and (max-width: 1280px) {
            .day.odd .events {
                width: 44%;
            }
            .day .events {
                width: calc(44% - 3px);
            }
        }

        /* Tablets (portrait and landscape) */
        @media only screen and (min-width: 769px) and (max-width: 1024px) {
            .day.odd .events {
                width: calc(41% + 3px);
            }
            .day .events {
                width: 40%;
            }
            .day .events:after {
                width: 60%;
            }
        }

        /* Mobile devices */
        @media only screen and (max-width: 768px) {
            .day.odd .events {
                width: 35%;
            }
            .day .events {
                width: calc(35% - 1px);
            }
            .day .events:after {
                width: 60%;
            }
        }

    </style>


    
    <li class="day">
        <div class="events">
            <div class="day__img"></div>
            <p><slot name="content"></slot></p>
            <div class="date"><span class="year"></span></div>
        </div>
    </li>
    
    
    
    
</template>